body{
    
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1;
    
}


header {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    font-family:sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 3rem;
  }
.btn-primary {
background-color:green;

}
.card-header:first-child{
    color:blue
}