body {

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #448aff;
}


header {
  background-color: lightskyblue;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 3rem;
}

.btn-primary {
  background-color: green;

}

.card-header:first-child {
  color: blue
}
#city-input{
  padding: .5rem 0 .5rem 0;
  text-align: center;
  justify-content: center;
  background: white;
}
.display {
  display: block;
  padding: .5rem 0 .5rem 0;
  text-align: center;
  width:400px;
  color: blue;
  margin: 0.5rem;
  border-radius: 0.3rem;

}

.wrapper{
  margin: 0 9rem;
  background-color: white;
  height: 45vh;
  margin: 50px auto;
  border-radius: 2px;
}

.wrapper h3{
padding: 5px 0;
text-align: center;
background: blueviolet;
color: white;
font-family: sans-serif;

}

.wrapper p{

  margin: 20px 50px;
  margin-right: 20px;
  text-align: left;
  color: #04214c;
  font-size: 23px;

}

.wrapper h3 span{

  font-size: 26px;
  color: #9beefb;
}

.wrapper p span{
 color: #90006e;
 font: size 25px;
}