body {

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #448aff;
}


header {
  background-color: lightskyblue;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding: 3rem;
}



.display {
  display: block;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color: lightgray;
}

.currentBorder {
  border: thin solid black;
}

.forecastColor {
  background-color: rgb(56, 68, 92);
  padding: 0.5rem;
}

.whiteText {
  color: white;
}